@import "normalize.css";
@import "sanitize.css";
@import "fontface";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  border-radius: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
}

b {
  font-size: 16px;
  font-weight: 600;
}

p {
  font-size: 16px;
  margin: 0px;
}

h2 {
  font-size: 25px;
  font-weight: 600;
}

.cartTotalBlock {
  margin-top: 10px;
  ul {
    display: block;
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }

  .greenButton {
    position: relative;

    &:disabled {
      animation: button-loading 0.6s ease-in-out infinite;
    }

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 25px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.greenButton {
  width: 300px;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:disabled {
    background-color: #bebebe !important;
    cursor: default;
  }

  &:hover {
    background: lighten(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  }
}

::placeholder {
  /*test for autoprefixer in postcss*/
  color: antiquewhite;
}

.test-block {
  border: 4px dotted black;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-block + .test-block {
  margin-top: 20px;
}

.active p {
  border-bottom: 2px solid;
}
.active p:hover {
  cursor: default;
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .clear {
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    top: 14px;
    right: 15px;
  }

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }

  input:focus {
    outline: none;
  }
}

input::placeholder {
  color: black;
  opacity: 0.4;
}
